body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('chess-background.jpg');
  background-size: auto;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

form {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0077b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #008CBA;
}